h1{
    font-size: 30px;
    text-align: center;
    color: #de7471
}
    
p{
    font-size: 18px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    color: white;
    margin-left: 60px;
}
    
body {
    background-color: #0b413f;
}

h2{
    font-size: 22px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    color: white;
    margin-left: 60px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.images {
    display: block;
    margin-left: 80px;
    width: 500px;
}